# Scraping

In [1]:
from bs4 import BeautifulSoup as bs
from splinter import Browser
from config import exe_path
import pandas as pd
import requests
import time

In [38]:
executable_path = {'executable_path':exe_path}
browser = Browser('chrome', **executable_path)

## Nasa Mars News

In [3]:
# Url of the page to be scraped
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
time.sleep(2)

In [5]:
html = browser.html
soup = bs(html, 'html.parser')

In [6]:
time.sleep(3)

In [7]:
results = soup.find('div', class_="list_text")
news_title = results.find('a').text.strip('\n')
news_title
# print(results)

"Celebrate Mars Reconnaissance Orbiter's Views From Above"

In [8]:
news_p = soup.find('div', class_="article_teaser_body").text
news_p

'Marking its 15th anniversary since launch, one of the oldest spacecraft at the Red Planet has provided glimpses of dust devils, avalanches, and more.'

## JPL Mars Space Image

In [9]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [10]:
html = browser.html
soup = bs(html, 'html.parser')

In [11]:
browser.click_link_by_id("full_image")

In [12]:
time.sleep(2)

In [13]:
html = browser.html
soup = bs(html, 'html.parser')

In [14]:
time.sleep(3)

In [15]:
results = soup.find('a', class_="button", target="_top")
partial_href = results['href']
partial_href

'/spaceimages/details.php?id=PIA19673 '

In [16]:
browser.click_link_by_partial_href(partial_href)

C:\Users\askbe\anaconda3\envs\PythonData\lib\site-packages\splinter\driver\webdriver\__init__.py:520: FutureWarning: browser.find_link_by_partial_href is deprecated. Use browser.links.find_by_partial_href instead.
  FutureWarning,

In [17]:
html = browser.html
soup = bs(html, 'html.parser')

In [18]:
results = soup.find('figure', class_="lede")
link = results.find('a')
partial_href = link['href']
partial_href

'/spaceimages/images/largesize/PIA19673_hires.jpg'

In [19]:
url_head = url.split('?')
url_head2 = url_head[0].rsplit('/', maxsplit=2)
url_head2

['https://www.jpl.nasa.gov', 'spaceimages', '']

In [20]:
featured_image_url = url_head2[0] + partial_href
featured_image_url
# 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16225_hires.jpg'

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19673_hires.jpg'

## Mars Weather

In [21]:
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [22]:
time.sleep(2)

In [23]:
html = browser.html
soup = bs(html, 'html.parser')

In [24]:
time.sleep(2)

In [25]:
results = soup.find('div', class_="css-1dbjc4n r-1iusvr4 r-16y2uox r-1777fci r-1mi0q7o")
spans = results.find_all('span')
mars_weather = spans[4].text
mars_weather

'InSight sol 607 (2020-08-11) low -93.1ºC (-135.6ºF) high -18.9ºC (-2.1ºF)\nwinds from the WNW at 8.2 m/s (18.4 mph) gusting to 21.4 m/s (47.8 mph)\npressure at 7.90 hPa'

## Mars Facts

In [39]:
url = 'https://space-facts.com/mars/'
browser.visit(url)

In [40]:
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [41]:
df = tables[0]
df.columns = ['Name', 'Value']
df

                   Name                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [42]:
df.set_index('Name', inplace=True)

In [43]:
html_string = df.to_html()
html_string = html_string.replace('\n', '')
html_string = html_string.replace(' style="text-align: right;"', '')
html_string

'<table border="1" class="dataframe">  <thead>    <tr>      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Name</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

## Mars Hemispheres

In [60]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [61]:
hemisphere_image_urls = []

In [62]:
html = browser.html
soup = bs(html, 'html.parser')

In [63]:
base_url = url.split('/search/')
base_url[0]

'https://astrogeology.usgs.gov'

In [64]:
results = soup.find_all('div', class_="item")

In [65]:
# x=0
for x in range(0,4):
    raw_title = results[x].find('h3').text
    title = raw_title.replace(" Enhanced", "")

    partial_href = results[x].find('a')['href']
    full_href = base_url[0] + partial_href

    browser.visit(full_href)
    html = browser.html
    soup = bs(html, 'html.parser')
    results2 = soup.find_all('div', class_="wide-image-wrapper")
    link = results2[0].find('img', class_="wide-image")
    href = link['src']
    full_url = base_url[0] + href

    hemisphere_image_urls.append({"title":title, "img_url":full_url})

hemisphere_image_urls

[{'title': 'Cerberus Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [66]:
browser.quit()